body {
    font-family: 'Arial', sans-serif;
    background-color: #39e765;
    color: #333;
  }

.contorno-text {
    color: rgb(0, 0, 0); /* Color del texto */
    text-shadow: 
      -1px 1px 0 #ffffff,  
      1px -1px 0 #ffffff,
      -1px 1px 0 #ffffff,
      1px 1px 0 #ffffff;
  }

.title {
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#encabezado {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: bold;
    font-size: larger;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#encabezado-img {
    width: 100%;
    margin: 5px;
}

#botones_inicio {
    /*background-color: blueviolet;*/
    width: 35vw;
    margin: 2em;
    margin-top: 1em;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-between;
}

.tit_bot_inicio {
    font-size: large;
    font-weight: bold;
    color: rgb(78, 57, 5);
    transition: 1s;
}


.miniatura {
    height: 40px;
}

.target {
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25em;
}

.tit_bot_inicio:hover {
 color: chartreuse;
}

.ord_section {
    width: 20vw;
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-bottom: 5px;
}

.inch_section {
    width: 45vw;
    padding: 0.5em;
}

.cuadriculas {
    display: flex;
    flex-direction:row;
    justify-content:space-around;
}

.margen_list {
    margin-left: 50px;
}

table, th, td {
    padding: 10px;
    border-radius: 12px;
}

table {
    margin-top: 5px;
}

th, .resalt_celda {
    background-color: #e0f859;
}

td {
    background-color: #a3a885;
}

footer {
    width: 100%;
    height: 8em;
    background-image: url('./SSS_Banner_Fianzas-de-Contrato_831px223px.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.top_footer {
    background-color: rgba(0, 0, 0, 0.651);
    color: #ffffff;
    font-weight: bold;
}

.ord_footer {
    background-color: #40b11491;
    border-radius: 18px;
    display: flex;
    align-items: center;
    padding: 0.75em;
    margin: 1em;
    width: 42vw;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: larger;
}

